@model IEnumerable<MyStore.Business.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

 <p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table> *@


<div class="card">
<h5 class="card-header">Manager Product</h5>
<div class="table-responsive text-nowrap">
    <table class="table">
    <caption class="ms-6">
        List Product
    </caption>
    <thead>
        <tr>
        <th>@Html.DisplayNameFor(model => model.ProductName)</th>
        <th>@Html.DisplayNameFor(model => model.UnitsInStock)</th>
        <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
        <th>@Html.DisplayNameFor(model => model.Category)</th>
        <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var item in Model) {
        <tr>
        <td>
            <i class="icon-base bx bxl-angular icon-md text-danger me-4"></i> <span>@Html.DisplayFor(modelItem => item.ProductName)</span>
        </td>
         <td>
            <i class="icon-base bx bxl-angular icon-md text-danger me-4"></i> <span>@Html.DisplayFor(modelItem => item.UnitsInStock)</span>
        </td>
        <td>
            <ul class="list-unstyled m-0 avatar-group d-flex align-items-center">
            <li
                data-bs-toggle="tooltip"
                data-popup="tooltip-custom"
                data-bs-placement="top"
                class="avatar avatar-xs pull-up"
                title="Lilian Fuller">
                <img src="../assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
            </li>
            <li
                data-bs-toggle="tooltip"
                data-popup="tooltip-custom"
                data-bs-placement="top"
                class="avatar avatar-xs pull-up"
                title="Sophia Wilkerson">
                <img src="../assets/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
            </li>
            <li
                data-bs-toggle="tooltip"
                data-popup="tooltip-custom"
                data-bs-placement="top"
                class="avatar avatar-xs pull-up"
                title="Christina Parker">
                <img src="../assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
            </li>
            </ul>
        </td>
        <td><span class="badge bg-label-primary me-1">@Html.DisplayFor(modelItem => item.UnitPrice)</span></td>
        <td><span class="badge bg-label-primary me-1">@Html.DisplayFor(modelItem => item.Category)</span></td>
        <td>
                <a asp-action="Edit" class="btn rounded-pill btn-outline-warning" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" class="btn rounded-pill btn-outline-info" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" class="btn rounded-pill btn-outline-danger" asp-route-id="@item.ProductId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    </table>
</div>
</div>